.markerTitle {
  color: black;
  background-color: rgba(white, 0.7);
  padding: 0.5rem;
  border-radius: 0.7rem;
  position: absolute;
  transform: translate(-50%, -200%);
  z-index: 100;
}

.overlayContainer {
  display: flex;
}

.marker {
  transform: translate(-50%, -100%);
}
